{% extends '@AgileInvoice/one-column.html.twig' %}

{% block title %}Invoices - {{ parent() }}{% endblock %}

{% block tips %}
    {% include('AgileInvoiceBundle:Invoice:tips.html.twig') %}
{% endblock %}

{% block main_title %}
    Invoices Overview

    <a href="{{ path('invoice_new') }}" class="btn btn-success btn-small">+ {{ 'create.invoice'|trans }}</a>
{% endblock %}

{% block body -%}

{% endblock %}