<div class="tips">
    <small class="tips-show" style="display:none;">
        <a href="#" class="tips-show-link muted">Page Tips</a>
    </small>

    <div id="alert-tips" class="alert alert-block fade in" style="display:block;">
        <button type="button" class="close" data-dismiss-tips="alert">Close <i class="icon-remove-sign"></i></button>
        
        <h5><i class="icon-info-sign"></i>  Tip: Invoicing</h5>
        
        <ol>
            <li><small>Customize invoice, default values and messages under <a href="{{ path('invoice_configure') }}">Invoices > Configure</a>.</small></li>
            <li><small>Run invoice and payment report under <a href="{{ path('invoice_archive') }}">Invoices > Report</a>.</small></li>
        </ol>
    </div>
</div>
