{% extends '::base.html.twig' %}

{% block title %} Dashboard - {{ app.user.company }}{% endblock %}

{% block main_title %}
    Dashboard
    <hr>
{% endblock %}

{% block body %}
    <h3>Invoice Summary</h3>
{% endblock %}

{% block right_column %}
    <div class="well well-small">
        ...
    </div>
{% endblock %}
