{% extends '::base.html.twig' %}

{% block title %} Dashboard - {{ app.user.company }}{% endblock %}
{% block body_class %}overview-page{% endblock %}
{% block main_title %}
    Dashboard

    <a href="{{ path('invoices') }}" class="btn btn-mini">Create invoice</a>

    <hr>
{% endblock %}

{% block body %}
    <div class="overview">
        <h5>Invoice Summary</h5>

        <table id="tbl-invoicesummary" class="table table-bordered table-hover">
            <tr>
                <td class="big_link clickable">
                    <a href="{{ path('invoices') }}">
                        <span class="type-smallgrey">Amount Outstanding</span>
                        <span class="type-cost type-red">€1.974,00</span>
                        <span class="type-note-black">(3 invoices)</span>
                        <i class="icon-play-circle"></i>
                    </a> 
                </td>
            </tr>
            <tr>
                <td class="big_link clickable">
                    <a href="/invoices/archive?timeframe=20130501%2C20130531">
                        <span class="type-smallgrey">Amount Invoiced This Month</span>
                        <span class="type-cost type-red">€1.080,00</span>
                        <span class="type-note-black">(1 invoice)</span>
                        <i class="icon-play-circle"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td class="big_link clickable">
                    <a href="/invoices/payments_archive?timeframe=20130401%2C20130430">
                        <span class="type-smallgrey">Payments Received Last Month</span>
                        <span class="type-cost">€0,00</span>
                        <i class="icon-play-circle"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td class="big_link clickable">
                    <a href="/invoices/payments_archive?timeframe=20130101%2C20131231">
                        <span class="type-smallgrey">Payments Received Year-to-Date</span>
                        <span class="type-cost">€0,00</span>
                        <i class="icon-play-circle"></i>
                    </a>
                </td>
            </tr>

        </table>
    </div>

{% endblock %}

{% block right_column %}
    <h5>News</h5>
    <div id="sidebar-news" class="well well-small">
        <a href="#"><small><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit</strong> <span class="date">· 27 May 2013</span></small></a>
    </div>
{% endblock %}
