@import "../less/bootstrap/bootstrap.less";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

// Per ora escludiamo la versione responsiva del sito
// @import "../less/bootstrap/responsive.less";

// Custom less

// Navbar
@navbarCollapseDesktopWidth:      @navbarCollapseWidth + 1;

@navbarBackgroundHighlight:       #297bba;
@navbarBackground:                darken(@navbarBackgroundHighlight, 5%);
@navbarBorder:                    darken(@navbarBackground, 12%);

@navbarText:                      #c3dde8;
@navbarLinkColor:                 #c3dde8;
@navbarLinkColorHover:            #fff;
@navbarLinkColorActive:           #fff;
@navbarLinkBackgroundActive:      darken(@navbarBackground, 5%);

label.required { font-weight: bold; }
