{% extends '::base.html.twig' %}

{% block title %}Create New Client - {{ parent() }}{% endblock %}
{% block main_title %}Create New Client{% endblock %}

{% block body %}

    {{ include('AgileInvoiceBundle:Clients:form.html.twig', { 'form': form }) }}

{% endblock %}

{% block right_column %}
    <div class="well well-small">Once you've added a client, you can add projects and contacts.</div>
{% endblock %}
